@import "tailwindcss";

body {
  background: #0f172a;
  color: white;
  margin: 0;
  font-family: sans-serif;
}

/* Theme MARPLA */
.theme-marpla {
  --primary: #2563eb;
  --background: #0f172a;
}

/* Theme EVOLVERE */
.theme-evolvere {
  --primary: #16a34a;
  --background: #0b0f0c;
}
